<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black box-shadow mb-3" style="padding-left: 25px; padding-right: 25px;"
  >
      <a class="navbar-brand" [routerLink]="['/']"><img id="header_logo" src="../../assets/images/lr-culinair_logo.png"></a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">

          <li
            class="nav-item"
            [routerLinkActive]="['nav-link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['nav-link-active']">
            <a class="nav-link" [routerLink]="['/wie']"
              >Wie we zijn</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['nav-link-active']">
            <a class="nav-link" [routerLink]="['/fotos']"
              >Fotos</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['nav-link-active']">
            <a class="nav-link" [routerLink]="['/contact']"
              >Contact</a
            >
          </li>

        </ul>
      </div>
  </nav>
</header>
