<h2 class="text-center">Contact</h2>
<div class="container margin-top row"> 
    <div class="container col-md-6">
        <div>
            <img src="../../assets/images/lrculinair_logo.png" height="150">
        </div>
        <div class="col-md-6">

            <mat-list role="list">
                <mat-list-item class="mat-list" role="listitem">LR Culinair</mat-list-item>
                <mat-list-item class="mat-list" role="listitem">0477 56 16 12</mat-list-item>
                <mat-list-item class="mat-list" role="listitem"><a href="mailto:ludwigvelghe@proximus.be">ludwigvelghe@proximus.be</a></mat-list-item>
                <mat-list-item class="mat-list" role="listitem">Anne Frankstraat 32</mat-list-item>
                <mat-list-item class="mat-list" role="listitem">8870 Izegem, België</mat-list-item>    
            </mat-list>

        </div>
    </div>   
    <div class="container col-md-6 margin-bottom">
        <form class="full-width">
            <mat-form-field class="full-width form-input" appearance="fill">
                <mat-label>Naam</mat-label>
                <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
                placeholder="Jan Jansens">
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Naam is <strong>vereist</strong>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width form-input" appearance="fill">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Gelieve een geldig email adres in te voeren
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>vereist</strong>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Typ hier uw bericht</mat-label>
                <textarea rows="7" matInput [formControl]="messageFormControl" [errorStateMatcher]="matcher"
                placeholder="Typ hier uw bericht"></textarea>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Bericht is <strong>vereist</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</div>

<div class="container row margin-top full-width margin-bottom">
    <google-map height="600px"
    width="100%"
    [center]="center"
    [zoom]="zoom">
    <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions">
            </map-marker>
    </google-map>
</div>