/* You can add global styles to this file, and also import other style files */

body{
    color: white;
}

.full-width {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-80 {
    width: 80%;
}
