.home_image {
    height: 400px;
}

.margin-top {
    margin-top: 90px;
}

.center{
    text-align: center;
}

.underline{
    text-decoration: underline;
}

h1{
    font-size: 1.9em;
}

h2{
    font-size: 1.2em;
}